{% extends 'base.html' %}

{% block content %}
<div class="row">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>News</th>
                <th>Source</th>
                <th>Published</th>
                <th>Scraped</th>
            </tr>
        </thead>
        <tbody>
            {% for a in articles %}
            <tr>
                <td>
                    <a href="{{ a.link }}">{{ a.title }}</a>
                </td>
                <td>
                    <p>
                        {{ a.source }}
                    </p>
                </td>
                <td>
                    <p>
                        {{ a.published }}
                    </p>
                </td>
                <td>
                    <p>
                        {{ a.created_at }}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}